.active{
    font-weight: bold !important;
}
.border-radius-none{
    border-radius: 0;
}
#home{
    width: 100%;
}
.surface-card-1{
    background:#c1aee4;
}
.surface-card-2{
    background: #c1aee4;
}

.surface-card-3{
    background: #c1aee4;
}

.surface-card-4{
    background: #c1aee4;
}



