bin
obj
node_modules
Services/.vs/*
Services/Lms.Api/appsettings.Development.json
Services/.vs/MI/DesignTimeBuild/.dtbcache.v2
Services/.vs/MI/DesignTimeBuild/.dtbcache.v2
Services/.vs/MI/v17/.suo
Services/.vs/MI/v17/DocumentLayout.json
